# Accessing Elements

This lesson covers:

* Accessing specific elements in NumPy arrays
* Assessing specific elements in Pandas Series and DataFrames 

Accessing elements in an array or a DataFrame is a common task. To begin this lesson, clear the
workspace set up some vectors and a $5\times5$ array. These vectors and matrix will make it easy
to determine which elements are selected by a command.


## Zero-based indexing
Python indexing is 0 based so that the first element has position `0`, the second has position `1` and 
so on until the last element has position `n-1` in an array that contains `n` elements in total.

## Problem: Picking an Element out of a Matrix
1. Select the third element of all three, x, y and z. 
2. Select the 11$^{\text{th}}$ element of x.
3. Using double index notation, select the (0,2) and the (2,0) element of x.

**Issues to ponder**

* Which index is rows and which index is columns?
* Does NumPy count across first then down or down first then across?

## Problem: Selecting Entire Rows
1. Select the 2nd row of x using the colon (:) operator.
2. Select the 2nd element of z and y using the same syntax.

**Issues to ponder**

* What happens to the output in each case?

## Problem: Selecting Entire Columns
Select the 2nd column of x using the colon (:) operator.

## Problem: Selecting Specific Rows or Columns
1. Select the 2nd and 3rd columns of x using the colon (:) operator.
2. Select the 2nd and 4th rows of x. 
3. Combine these be combined to select columns 2 and 3 and rows 2 and 4.

## Problem: Use `ix_` to select arbitrary rows and columns
Use `ix_` to select the 2nd and 4th rows and 1st and 3rd columns of `x`.

## Problem: Numeric indexing Series and DataFrame
Repeat the previous questions on `y_s` and `x_df` using `.iloc`.

## Problem: Selecting by Name in Series and DataFrames
Using `x_name` and `y_name`:

1. Select the (0,2) and the (2,0) element of `x_name`.
2. Select the 2nd row of `x_name` using `.loc`.
3. Select the 2nd columns of `x_name` using `.loc`.
4. Select the 2nd element of `y_name` using both `[]` and `loc`.
5. Select the 2nd and 4th rows and 1st and 3rd columns of `x_name`.

## Problem: Selecting Data by Date
Load the data in momentum.csv.

In [1]:
# Setup: Load the momentum data

import pandas as pd

momentum = pd.read_csv('data/momentum.csv', index_col='date', parse_dates=True)
momentum.head()

,mom_01,mom_02,mom_03,mom_04,mom_05,mom_06,mom_07,mom_08,mom_09,mom_10
date,,,,,,,,,,
2016-01-04,0.67,-0.03,-0.93,-1.11,-1.47,-1.66,-1.40,-2.08,-1.71,-2.67
2016-01-05,-0.36,0.20,-0.37,0.28,0.16,0.18,-0.22,0.25,0.29,0.13
2016-01-06,-4.97,-2.33,-2.60,-1.16,-1.70,-1.45,-1.15,-1.46,-1.14,-0.45
2016-01-07,-4.91,-1.91,-3.03,-1.87,-2.31,-2.30,-2.70,-2.31,-2.36,-2.66
2016-01-08,-0.40,-1.26,-0.98,-1.26,-1.13,-1.02,-0.96,-1.42,-0.94,-1.32

1. Select returns on a February 16, 2016.
2. Select return in March 2016.
3. Select returns between May 1, 2016 and June 15, 2016